{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
    {% include "storage/storagearea_links.html" %}
    <h1>{{ object.name }}</h1>

    <p><strong>Description:</strong> {{ object.description }}</p>
    <p><strong>Notes:</strong> {{ object.notes }}</p>

    <a href="{% url 'storage:item_update' object.pk %}">✏️ Edit</a>
    <a href="{% url 'storage:item_delete' object.pk %}">🗑️ Delete</a>
    <a href="{% url 'storage:item_list' %}">⬅ Back</a>
{% endblock content %}