{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
    {% include "storage/storagearea_links.html" %}
    <h1>Confirm Delete</h1>

    <p>Are you sure you want to delete this item?</p>
    <p><strong>{{ object.name }}</strong></p>

    <form method="post">{% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
    <a href="{% url 'storage:item_list' %}">Cancel</a>
{% endblock content %}