{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
{% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
            <span>{{ message }}</span>
        {% endfor %}
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
            ></button>
    </div>
{% endif %}

<h1>Activities</h1>
<ul>
    {% for activity in activity_list %}
        <h2>
            <a href={% url 'activity_tracker:activity-detail' activity.id %}>
                {{ activity.name }}
                -
                {{ activity.activity_type.name }}
            </a>
        </h2>
        <a href={% url 'activity_tracker:complete-the-activity' activity.id %}>Complete</a>
        <form method="post" action="{% url 'activity_tracker:complete-the-activity' activity.id %}">
            {% csrf_token %}
            <button type="submit">Complete</button>
        </form>
        <p>Completed: {{ activity.completed_activity.count }}</p>
        <p>{{ activity.notes|linebreaks }}</p>
    {% endfor %}
{% endblock content %}