{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
<h1>{{ activity.name }} - {{ activity.activity_type.name }}</h1>

<p>{{ activity.notes|linebreaks }}</p>

<h2>Activities Completed - {{ activity.completed_activity.count }}</h2>
<ul>
    {% for completed_activity in activity.completed_activity.all %}
        <li>{{ completed_activity.date }} - {{ completed_activity.activity }}</li>
    {% endfor %}
</ul>


{% endblock content %}