{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
    <h1>{{ user.username }}'s {{ page_title }}</h1>
    <form method="post" action={% url 'cbt:thought-create' %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add the Thought</button>
    </form>
    {% if object_list %}
        {% for thought in object_list %}
            <a href="{% url 'cbt:thought-detail' thought.id %}">
                <h2>{{ thought.name }}</h2>
            </a>
            <p>
                {% for distortion in thought.cognitive_distortion.all %}
                    {{ distortion.name }}
                    {% if not forloop.last %} | {% endif %}
                {% endfor %}
            </p>
            <p>{{ thought.created }}</p>
            <p>{{ thought.description|linebreaksbr }}</p>
        {% endfor %}
    {% else %}
        No objects :(
    {% endif %}
{% endblock content %}