{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
    {% for goal in goal_list %}
        <h2>{{ goal.name }}</h2>
        <p>{{ goal.description }}</p>
            {% comment %} {{ goal.subgoals.all }} {% endcomment %}
            {% comment %} {{ goal.subgoals.all|length }} {% endcomment %}
            {% for sub_goal in goal.subgoals.all %}
                <h4>{{ sub_goal.child_goal.name }}</h4>
                <p>{{ sub_goal.child_goal.description }}</p>
            {% endfor %}
    {% endfor %}
{% endblock content %}