{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete journal: {{ journal.title }}?</p>

    <form method="post" action="{% url 'self_enquiry:delete' journal.id %}">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
        {% comment %} Allow cancellation of the deletion {% endcomment %}
        <a href="{% url 'self_enquiry:detail' journal.id %}">Cancel</a>
    </form>
{% endblock content %}