{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
<h1>{{ page_title }}</h1>
<form method='post'>
    {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" >{{ form_button_text }}</button>
    {% if request.resolver_match.view_name == "self_enquiry:update" %}
    {% comment %} button to cancel the update {% endcomment %}
    <a href="{% url 'self_enquiry:detail' pk=journal.pk %}">Cancel</a>
    {% elif request.resolver_match.view_name == "self_enquiry:create" %}
    {% comment %} button to cancel the add {% endcomment %}
    <a href="{% url 'self_enquiry:list' %}">Cancel</a>
    {% endif %}
</form>
{% endblock content %}