{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <form method="post" action="/career-organizerator/bulletpoints/">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Bullet Point</button>
    </form>

    <ul>
        {% for bulletpoint in bulletpoint_list %}
            <li>
                <p>{{ bulletpoint.text }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}