{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <form method="post" action={% url 'career_organizerator:question-response-list' %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Question Response</button>
    </form>

    {% for question in object_list %}
        <h2>{{ question.text }}</h2>
        <a href={% url 'career_organizerator:question-response-create' question.id %}>Add Response</a>
        {% for response in question.questionresponse_set.all %}
            {% if forloop.first %} <hr> {% endif %}
            <h3>{{ response.summary }}</h3>
            <p>{{ response.text|linebreaksbr }}</p>
            <a href={% url 'career_organizerator:question-response-update' response.id %}>Update</a>
            {% if not forloop.last %} <hr> {% endif %}
        {% endfor %}
        <hr><hr>
    {% endfor %}
{% endblock content %}