{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}
<h1>{{ page_title }}</h1>

<form method="post" action="/career-organizerator/skills/">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Skill</button>
</form>

<ul>
    {% for skill in skill_list %}
    <form method="post" action="{% url 'career_organizerator:skill_move_up' skill.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Move Up</button>
    </form>
    <form method="post" action="{% url 'career_organizerator:skill_move_down' skill.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Move Down</button>
    </form>
    <form method="post" action="{% url 'career_organizerator:delete_skill' skill.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    ({{ skill.order }}) {{ skill.name }} - ID: {{ skill.id }}
    <br>
    {% endfor %}
</ul>

{% endblock content %}