{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add/Save Personal Value</button>
        {% if personalvalue %}
            <a href={% url 'value_centric:personal-value-detail' personalvalue.id %}>
                Cancel
            </a>
            |
            <a href={% url 'value_centric:personal-value-delete' personalvalue.id %}>
                Delete
            </a>
        {% else %}
            <a href={% url 'value_centric:personal-value-list' %}>Cancel</a>
        {% endif %}
    </form>
{% endblock content %}
