{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <a href={% url "value_centric:personal-value-create" %}>Create New Personal Value</a>

    {% for personalvalue in personalvalue_list %}
        <h2>{{ personalvalue.name }}</h2>
        <a href={% url "value_centric:personal-value-update" personalvalue.id %}>Edit</a>
        |
        <a href={% url "value_centric:personal-value-detail" personalvalue.id %}>Detail</a>
        {{ personalvalue.description|linebreaks }}

    {% endfor %}
{% endblock content %}
