{% extends "base.html" %}

{% block title %}
    {{ goal.name }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
    <h1>
        {% comment %} Strike through if goal is completed {% endcomment %}
        {% if goal.completed %}
          <s>{{ goal.name }}</s>
        {% else %}
          {{ goal.name }}
        {% endif %}
        {% if goal.is_ultimate_concern %}(Ultimate Concern){% endif %}
        {% if not goal.parent and not goal.is_ultimate_concern %}(Orphan Goal){% endif %}
    </h1>
    <p>
        <a href="{% url 'uc_goals:goal_create' %}?parent={{ object.pk }}">
            Add Sub-Goal
        </a>
    </p>
    {% include "uc_goals/uc_links.html" %}
    {% if goal.parent %}
        <p>Parent: <a href="{% url 'uc_goals:goal_detail' goal.parent.id %}">{{ goal.parent }}</p>
    {% endif %}

    <h2>Character Strengths</h2>
    <ul>
      {% for strength in goal.character_strengths.all %}
        <li>{{ strength }}</li>
      {% endfor %}
    </ul>
    <p>{{ goal.description | linebreaks }}</p>

    {% if goal.sub_goals.exists %}
        {% include "uc_goals/goal_sub.html" with sub_goals=goal.sub_goals.all %}
    {% endif %}

    <a href="{% url 'uc_goals:goal_update' goal.id %}">Edit</a>
    |
    <a href="{% url 'uc_goals:goal_delete' goal.id %}">Delete</a>
{% endblock content %}