{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <a href="{% url 'pi_tracker:pi_device_create' %}">Add New Device</a>
    <ul>
        {% for device in devices %}
            <li>
                <a href="{% url 'pi_tracker:pi_device_detail' device.pk %}">
                    {{ device.name }} - {{ device.ram }} - {{ device.form_factor }}
                </a>
                (<a href="{% url 'pi_tracker:pi_device_update' device.pk %}">Edit</a>)
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
