{% extends "base.html" %}

{% block title %}
    {{ view.object.name|default:"Create Pi Device" }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
    {% comment %}
        Keep this code snippet here for future reference on using 'default' tag.
        {{ view.object.name|default:"Create Pi Device" }}
    {% endcomment %}
    <h1>{{ view.object.name|default:"Create Pi Device" }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    <a href="{% url 'pi_tracker:pi_device_list' %}">Back to list</a>
    |
    <a href="{% url 'pi_tracker:pi_device_detail' view.object.pk %}">Back to '{{ view.object.name }}' detail view</a>
{% endblock content %}

