{% extends "base.html" %}

{% block title %}
    {{ page_title }}
    -
    {{ the_site_name }}
{% endblock title %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% if mode == "create" %}
                Create New Unimportant Note
            {% elif mode == "update" %}
                Save Changes to Unimportant Note
            {% endif %}
        </button>
    </form>
    {% if unimportantnote %}
        <a href="{% url 'unimportant_notes:note_detail' unimportantnote.id %}">
            Cancel
        </a>
    {% else %}
        <a href="{% url 'unimportant_notes:note_list' %}">
            Cancel
        </a>
    {% endif %}
{% endblock content %}